<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= patientData.firstname + " " + patientData.lastname %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="admin/style/adding_patient_response.css">
</head>

<body>
    <%- include ('./partials/header.ejs') %>
        <h1 class="hospitallogo">L I F E C A R E &#160;&#160;&#160;&#160;H O S P I T A L</h1>
        <div class="mainpage">
            <div class="patientdetail">
                <h4 id="date">

                </h4>

                <br> Name:
                <%= patientData.firstname+" "+patientData.lastname %>
                    <br> Mobile No :
                    <%= patientData.mobilenumber %>
                        <br> Address:
                        <%= patientData.address %>
                            <br> Doctor :
                            <%=  patientData.assigneddoctor %>
                                <br> DocId :
                                <%= patientData.doctorid %>
                                    </h4>
            </div>
            <div class="hospitaldetail">
                <h3>LIFECARE HOSPITAL</h3>
                <h4>Greater Noida </h4>
                <hr>
                <h4>Phone Number: 9722651957</h4>
            </div>
        </div>
        <hr>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <script>
            let date = '<%- patientData.admitdate %>'
            const sliceddate = date.slice(0, 16)
            const date1 = document.getElementById("date")
            date1.innerText = sliceddate
        </script>
</body>

</html>